/* Start Main */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cairo,arial;
    direction: rtl;
    background-color: #f6fbff;
}

/* End Main */

/* Start About */

.about {
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 80px 0;
    user-select: none;
}

.about .image {
    width: 39%;
    margin-right: 3%;
    border: 3px solid #55c0a2;
    border-radius: 15px;
    text-align: center;
    position: relative;
    height: 500px;
    float: left;
}

.about .image img {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    border: 2px solid #CCC;
}

.about .image .circle {
    width: 120px;
    height: 120px;
    border: 4px solid #55c0a2;
    border-radius: 50%;
    position: absolute;
    bottom: -55px;
    left: 50px;
}

.about .info {
    width: 50%;
    float: right;
}

.about .info .top {
    height: 130px;
    line-height: 130px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #0c4a7d;
    overflow: hidden;
}

.about .info .top > span {
    display: block;
    float: right;
}

.about .info .top > span.ar {
    color: #55c0a2;
    width: 25%;
}
.about .info .top > span.icon {
    width: 33%;
    text-align: center;
}

.about .info .top > span.en {
    width: 42%;
    text-align: left;
}

.about .info .top > span.en span {
    color: #55c0a2;
}
.about .info .icon img {
    width: 120px;
    height: 120px;
}

.about .info .center {
    font-size: 50px;
    font-weight: bold;
    color: #0c4a7d;
}

.about .info .bottom {
    font-size: 20px;
    color: #333;
    line-height: 1.8;
    margin-top: 20px;
}


/* End About */

/* Start Min Services */

.min-service {
    padding: 50px 0;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    position: relative;
    min-height: 200px;
}

.min-service .btn-box ul {
    list-style: none;
    width: 95%;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
}

.min-service .btn-box ul li {
    display: inline-block;
    width: calc((100% / 2) - 3px);
    user-select: none;
    border-radius: 20px;
    padding: 5px 0;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all .4s;
}
.min-service .btn-box ul li.active {
    background-color: #55c0a2;
    color: #fff;
}
.box1 {
    width: 95%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    padding: 8px 0;
    right: 0;
    left: 0;
}
.box1 form {
    overflow: hidden;
}
.box1 .input-feild {
    width: callc((100% / 3));
    float: right;
    margin-right: 30px;
}

.box1 .input-feild label {
    display: block;
}

.box1 .input-feild input {
    height: 35px;
    outline: none;
    text-align: center;
    border: 1px solid #CCC;
    width: 100%;
    border-radius: 4px;
}

.box1 .input-feild input:focus {
    border: 1px solid #55c0a2;
}

.box1 .submit {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.box1 .submit input {
    width: 200px;
    height: 80px;
    font-size: 20px;
    font-family: cairo,arial;
    color: #fff;
    font-weight: bold;
    background-color: #55c0a2;
    border: 1px solid #55c0a2;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}

.box1 .submit input:hover {
    background-color: transparent;
    color: #55c0a2;
}
/* End Min Services */

/* Start Our Service */

.our-services {
    margin: 30px 0;
    padding: 50px;
    overflow: hidden;
    font-family: cairo,arial;
    background-color: #fff;
    border-radius: 5px;
}

 .head1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #0c4a7d;
    margin: 20px 0;
}
.head1 span {
    position: relative;
}
.head1 span::after {
    position: absolute;
    top: 1px;
    right: -15px;
    content: '';
    width: 32px;
    height: 32px;
    border: 3px solid #55c0a2;
    border-radius: 50%;
}
.our-services .box {
    margin: 20px 0;
    background-color: #f6fbff;
    padding: 30px 10px;
    overflow: hidden;
    direction: rtl;
    border-radius: 10px;
    border: 1px solid #EEE;
    transition: all .3s;
}
.our-services .box:hover {
    background-color: #fff;
    border: 1px solid #55c0a2;
}
.our-services .box:hover .right div:first-of-type {
    border: 1px solid #55c0a2;
    background-color: #f6fbff;
}
.our-services .box .right {
    float: right;
    width: 90%;
}
.our-services .box .right div:first-of-type {
    width: 11%;
    float: right;
    margin-left: 3%;
    border: 1px solid #f6fbff;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    transition: all .3s;
}
.our-services .box .right div:first-of-type img {
    margin-top: 25px;
    width: 60%;
}
.our-services .box .right div:nth-of-type(2) {
    width: 84%;
    float: left;
}
.our-services .box .right div:nth-of-type(2) h3 {
    font-size: 22px;
    color: #0c4a7d;
}
.our-services .box .right div:nth-of-type(2) p {
    color: #333;
}
.our-services .box .left {
    float: left;
    width: 10%;
}

.our-services .box .left a {
    display: block;
    border: 1px solid #0c4a7d;
    text-align: center;
    height: 100px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    font-size: 38px;
    color: #FFF;
    background-color: #0c4a7d;
    transition: all .3s;
}
.our-services .box .left a:hover {
    background-color: transparent;
    color: #0c4a7d;
}
.our-services .box .left a i {
    line-height: 100px;
}
@media (max-width:785px) {
    .our-services .box .right {
        float: none;
        width: 100%;
    }
    .our-services .box .left {
        float: none;
        margin-top: 20px;
        width: 100%;
    }
    .our-services .box .right div:first-of-type {
        float: none;
        width: 100px;
        margin: 20px  auto;
    }
    .our-services .box .right div:nth-of-type(2) {
        width: 80%;
        text-align: center;
        margin: auto;
        float: none;
    }
}
@media (max-width:370px) {
    .our-services {
        padding: 15px;
    }
    .our-services .box .right div:nth-of-type(2) {
        width: 100%;
    }
}
/* End Our Service */

/* Start Offers */

.offers {
    padding: 100px 0;
    width: 95%;
    margin: 0 auto 30px;
    direction: ltr;
    text-align: right;
    background-color: #fff;
}


.offers .box {
    background-color: #fff;
    color: #0c4a7d;
    border-radius: 15px;
    direction: rtl;
    margin: 0 15px;
    border: 1px solid #CCC;
  }
  
  .offers .box .image {
    width: 100%;
    height: 200px;
    border-radius: 15px;
  }
  
  .offers .box .image img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 200px;
  }
  
  .offers .box .info {
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .offers .box .info .datails {
    width: 80%;
    float: right;
    padding: 10px;
  }
  
  .offers .box .info .datails .name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .offers .box .info .datails .price {
    font-weight: bold;
  }
  
  .offers .box .info .datails .price .new {
    color: #55c0a2;
  }
  
  .offers .box .info .datails .price .old {
    color: rgb(236, 45, 45);
    text-decoration: line-through;
  }
  
  .offers .box .info .show-more a {
    color: #fff;
    font-size: 30px;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 8px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 20px;
    text-align: center;
    float: left;
    background-color: #0c4a7d;
    width: 8%;
    transition: all .3s;
    border: 1px solid #0c4a7d;
  }

  .offers .box .info .show-more a:hover {
    background-color: transparent;
    color: #0c4a7d;
    border: 1px solid #0c4a7d;
  }
  
  .splide__arrow {
      position: relative;
  }

  .splide__arrows {
      position: relative;
      margin-bottom: 30px;
  }
  .splide__arrow--next {
      position: absolute;
      right: 10px;
      top: 0;
  }

  .controls {
    position: relative;
  }
  .controls .next {
      position: absolute;
      top: -22px;
    right: 10px;
    width: 50px;
  }
  .controls .prev {
    position: absolute;
    top: -20px;
    left: 15px;
    width: 30px;
  }
  
.controls .head{
    width: calc(100% - 80px);
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
}

/* End Offers */

/* Start Media */

@media (max-width:800px) {
    .about .info .center {
        font-size: 40px;
    }
    .about .info .top {
        font-size: 30px;
    }
    .about .info .icon img {
        width: 90px;
        height: 90px;
        margin-top: 20px;
    }
    .box1 .submit {
        position: unset;
    }
    .box1 .submit input {
        margin: 30px;
        width: 92%;
    }
    .min-service {
        min-height: 340px;
    }
}

@media (max-width:730px) {
    .about .info {
        width: 100%;
        float: none;
        margin: 50px 0 0;
    }
    .about .image {
        width: unset;
        float: none;
        height: 400px;
    }
    .about .image img {
        height: 410px;
    }
    .about .info .top {
        font-size: 55px;
    }
    .about .info .icon img {
        width: unset;
    height: 135px;
        margin: 0;
    }
    .about .info {
        text-align: center;
    }
}
@media (max-width:690px) {
    .box1 .input-feild {
        width: 90%;
        text-align: center;
        margin-top: 10px;
    }
    .min-service {
        min-height: 500px;
    }
    .controls .next {
        top: 30px;
        right: 8px;
    }
    .controls .prev {
        top: 30px;
        right: 8px;
    }
}
@media (max-width:580px) {
    .about .info .top {
        line-height: unset;
        height: unset;
    }
    .about .info .top > span.ar {
        width: 100%;
    }
    .about .info .top > span {
        float: none;
    }
    .about .info .top > span.en {
        text-align: unset;
        width: 100%;
    }
    .about .info .top > span.icon {
        width: unset;
        margin-bottom: -42px;
    }
    .about .info .icon img {
        height: 120px;
    }
    .box1 .submit input {
        margin-top: 30px;
        width: 90%;
    }
}
@media (max-width:380px) {
    .box1 .input-feild {
        width: 84%;
    }
    .box1 .submit input {
        width: 84%;
    }
}
/* End Media */