body{
    margin: 0;
    padding: 0;
    background: #f6fbff;
    box-sizing: border-box;
    font-family: cairo,arial;
}
h1{
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
    color: #0c4a7d;
}
h1 span {
    position: relative;
}
 h1 span::after{
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    border: 3px solid #55c0a2;
    border-radius: 50%;
    top: -2px;
    right: -9px;
}
p.inf{
    padding: 0 7%;
    text-align: center;
    line-height: 1.6;
    color: #333;
}
.container{
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    direction: rtl;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.box{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}
.inputRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 55%;
}
.inputRow div{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.inputRow div input  {
    background-color: #f6fbff;
    border: 0;
    outline: 0;
    height: 35px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-radius: 5px;

}
.inputRow div label{
    margin-bottom: 10px;
}
.inputRow div h3 {
    margin: 20px 0;
    font-size: 22px;
    position: relative;
    font-weight: 700;
    color: #0c4a7d;
    width: 200px;
}
.imgRow{
    flex-basis: 40%;
}
.imgRow div{
    width: 86%;
    height: 90%;
    background-color: #f6fbff;
    margin-top: 10px;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 5px;
    text-align: center;
    line-height: 300px;
}
.imgRow input{
    visibility: hidden;
}
.imgRow div label{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}
.inputFile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inputFile div{
  width: 30%;   
}
.inputFile div .fileBox{
    background-color: #f6fbff;
    border: 0;
    outline: 0;
    width: 75%;
    height: 40px;
    padding: 0 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
}
.inputFile div .fileBox input{
    visibility:hidden;
}
.inputFile div .fileBox label{
    position: absolute;
    top: 10px;
    left: 16px;
    cursor: pointer;
}
.btn{
    width: 96%;
    margin: 15px 0;
}
.btn input{
    text-align: center;
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #55c0a2;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-family: cairo,arial;
}
@media (max-width:1180px) {
    .box{
        flex-direction: column-reverse;
    }
    .imgRow div{
        height: 300px;
        margin-bottom: 10px;
    width: 100%;
    }
    .inputRow div ,.inputFile div{
        width: 100%;
    }
    .inputRow div select,.inputRow div select{
        width: 100%;
    }
    .inputFile div .fileBox{
        width: 96%;
    }
    .btn{
        width: 100%;
    }
}